.body{
    background-color: #0c0c0c;
    color: #fff;
}
.container {
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}