.body {
    background-color: #0C0B08;
    background-image: url("../image/svg/line_left.svg"), url("../image/svg/line_right.svg");
    background-size: 1125.5335px 4252.5px, 1125.5335px 4252.5px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 777px left 0px, top 777px right 0px;
    height: 5028.1px;
    margin: 0;
    padding: 0;
}
:root {
    --fff: #FFF;
    --dcca87: #DCCA87;
    --fafafa: #FAFAFA;
    --aaaaaa: #AAA;
    --0c0c0c: #0c0c0c;
    --f5efdb: #F5EFDB;
}
.container {
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}
.header {
    padding: 22.4px 84px;
    margin: 0;
    color: var(--fff);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-logo__link__img {
    width: 139.3px;
    height: 39.9px;
}
.header-menu__list {
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.header__box-login {
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.box-logo__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.56px;
    text-transform: capitalize;
}
.menu__link:hover {
    color: var(--dcca87);
}
.box-login__link:hover {
    color: var(--dcca87);
}
.welcome {
    height: 475.3px;
    margin: 0 auto;
    background-image: url("../image/img/section2/bg_section2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome__content-box {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16.8px;
    margin: 0 auto;
}
.welcome__title {
    color: var(--dcca87, #DCCA87);
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 63px;
    font-style: normal;
    font-weight: 700;
    line-height: 81.9px; 
    letter-spacing: 2.52px;
    text-transform: capitalize;
}
.welcome__link-box {
    display: flex;
    align-items: center;
    gap: 5.6px;
}
.welcome__link {
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px; 
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.welcome__link:hover {
    color: var(--dcca87);
    text-shadow: 0px 0px 20px #DCCA87;
}
.history {
    margin: 0 auto;
    margin: 106.4px 0px 106.4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.history__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44.8px;
}
.history__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6px;
}
.history__title-top {
    color: var(--fff, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.history__svg {
    fill: var(--dcca87, #DCCA87);
}
.history__title {
    color: var(--dcca87, #DCCA87);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
}
.history__infotmaition-box {
    display: flex;
    align-items: flex-start;
    gap: 100.1px;
}
.history__first-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.history__paragraf {
    width: 366.1px;
    color: var(--aaaaaa, #AAA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.history__first-image {
    width: 366.1px;
    height: 396.2px;
    flex-shrink: 0;
    background-image: url("../image/img/section3/shop_section3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.history__second-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.history__second-image {
    width: 443.8px;
    height: 269.5px;
    flex-shrink: 0;
    background-image: url("../image/img/section3/room_section3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.history__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.history__section-title {
    color: var(--dcca87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 31.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 40.95px;
    letter-spacing: 1.26px;
    text-transform: capitalize;
}
.history__achievement-box {
    display: flex;
    align-items: center;
    gap: 44.8px;
}
.history__achievement-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.6px;
}
.history_number {
    color: var(--dcca87, #DCCA87);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 31.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 40.95px;
    letter-spacing: 1.26px;
    text-transform: capitalize;
}
.history__element-option {
    width: 88.2px;
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 22.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.12px;
    letter-spacing: 0.896px;
    text-transform: capitalize;
}
.restaurant-video {
    height: 865.9px;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    background-image: url("../image/svg/logo.svg"), url("../image/svg/logo.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 102.2px 102.2px, 102.2px 102.2px;
    background-position: top 0px right 105.7px, bottom 0px left 102.2px;
}
.restaurant-video__content-box {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.restaurant-video__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22.4px;
}
.restaurant-video__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6px;
}
.restaurant-video__top-title {
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.restaurant-video__title {
    color: var(--dcca87, #DCCA87);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
}
.restaurant-video__paragraf {
    width: 576.8px;
    color: var(--aaaaaa, #AAA);
    text-align: center;
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; 
    letter-spacing: 0.448px;
}
.restaurant-video__video {
    width: 910px;
    height: 534.1px;
    flex-shrink: 0;
}
.chef {
    background-image: url("../image/img/section5/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.chef_box {
    display: inline-flex;
    align-items: center;
    gap: 64px;
}
.chef_box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
}
.chef_box-right-title {
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}
.chef_box-right-titletwo {
    color: var(--dcca87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 1.34px;
    text-transform: capitalize;
}
.chef_box-right-text {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.44px;
    width: 570px;
}
.chef_box-right-sign {
    width: 164px;
    height: 58px;
}
.chef_box-right-name {
    color: var(--dcca87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}
.chef_box-right-position {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.64px;
}
.chef_box-img img {
    width: 443px;
}
.chef_box-right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.chef_box-right-mid {
    display: flex;
    gap: 6px;
}
.chef_box-right-name-and-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.chef_box-right-svg {
    width: 33px;
    height: 28px;
    flex-shrink: 0;
}
.customers {
    height: 905.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../image/svg/logo.svg");
    background-repeat: no-repeat;
    background-position: top 56.7px right 105.7px;
    background-size: 102.2px 102.2px;
}
.customers_box-title_item-one {
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.customers_box-title_item-two {
    color: var(--dcca87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.customers_box-text-one {
    color: var(--aaaaaa, #AAA);
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.64px;
}
.customers_box-comments-title {
    color: var(--dcca87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}
.customers_box-text-two {
    color: var(--f5efdb, #F5EFDB);
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.32px;
}
.customers_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.customers_box-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.customers_box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.customers_box-comments-first-one-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.customers_box-comments-first {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}
.customers_box-comments-second {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}
.customers_box-comments-first-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-first-one-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
}
.customers_box-comments-first-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.customers_box-comments-second-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-one-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.photo-gallery {
    margin: 0 auto;
    padding: 0;
    height: 572.6px;
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    z-index: 1;
}
.photo-gallery::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../image/svg/logo.svg"), url("../image/img/section7/bg-slider_sq.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 104.3px 104.3px, 100% 493.5px;
    background-position: 74.2px 452.2px, top;
    opacity: 0.5;
    z-index: 2;
}
.photo-gallery__content-box {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 44.8px;
    height: 493.5px;
    margin: 0;
    z-index: 3;
}
.photo-gallery__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16.8px;
}
.photo-gallery__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.6px;
}
.photo-gallery__title-top {
    color: var(--fff, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.3px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.photo-gallery__svg-image {
    fill: var(--dcca87, #DCCA87);
}
.photo-gallery__title {
    color: var(--dcca87, #DCCA87);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
}
.photo-gallery__paragraf {
    width: 343.7px;
    color: var(--aaaaaa, #AAA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.photo-gallery__button {
    display: flex;
    padding: 5.6px 22.4px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 0.7px solid var(--dcca87, #DCCA87);
    background: var(--dcca87, #DCCA87);
    color: var(--0c0c0c, #0C0C0C);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.photo-gallery__button:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.photo-gallery__overflow {
    width: 738.5px;
    height: 330px;
    overflow: auto;
    z-index: 3;
}
.photo-gallery__overflow::-webkit-scrollbar {
    width: 24px;
    height: 10px;
    background-color: #adbbca;
}
.photo-gallery__overflow::-webkit-scrollbar-thumb {
    background-color: #68726f;
    border-radius: 9px;
}
.photo-gallery__overflow::-webkit-scrollbar-thumb:hover {
    background-color: #DCCA87;
}
.photo-gallery__box-imeges {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.photo-gallery__img {
    width: 210.7px;
    height: 312.9px;
    border: 0.7px solid var(--dcca87, #DCCA87);
    z-index: auto;
}
.photo-gallery__link-img {
    width: 210.7px;
    height: 312.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.photo-gallery__link-img:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1.4px solid rgba(220, 202, 135, 0.20);
    background-image: url("../image/svg/instagram_logo.svg"), linear-gradient(208deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
    background-size: 36.4px 36.4px, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    z-index: 2;
}
.footer-box {
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #FFF;
    text-align: center;
    padding-bottom: 100.8px;
}
.footer-information-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact-box {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.footer-contact-box__subtitle {
    color: var(--f5efdb);
    font-family: 'Cormorant Upright', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.86px;
    text-transform: capitalize;
    margin-bottom: 16.8px;
}
.footer-information-box__address-content {
    color: var(--aaaaaa);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
    margin: 0;
    cursor: pointer;
}
.footer-contact-box__link {
    color: var(--aaaaaa);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
}
.footer-contact-box__link:first-child {
    margin: 5px;
}
.footer-box-logo__link__img {
    margin-bottom: 22px;
    width: 202.3px;
}
.social-media-box {
    width: 306px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}
.social-media-box__text {
    color: var(--fff);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
    margin: 0;
}
.social-media-box__svg {
    margin: 11px 0;
}
.social-media-box__icons-item {
    fill: #FFF;
}
.social-media-box__icons-list {
    display: flex;
    gap: 11px;
}
.working-hours-box {
    font-family: 'Cormorant Upright', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.working-hours-box__title {
    color: var(--f5efdb);
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    margin-bottom: 17px;
}
.working-hours-box__text {
    width: 121px;
    margin: 0;
}
.working-hours-box__text:first-child {
    margin-bottom: 5px;
}
.footer-date-box {
    display: flex;
    flex-direction: column;

}
.footer-date-box__text {
    margin: 0;
    color: var(--aaaaaa);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.45px;
    padding-left: 53px;
}
.footer {
    background-image: url(../image/img/section8/bg-image.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 585.9px;
}
.email-input-box__link {
    color: var(--0c0c0c);
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    padding: 5.6px 22.4px;
    border: 0.7px solid #DCCA87;
    background: #DCCA87;
}
.email-info-box__svg {
    margin: 5.6px 0;
    padding: 0;
}
.email-info-box__text {
    color: var(--fff);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 0;
    margin-top: 24px;
}
.email-input-box__input {
    width: 557.2px;
    height: 42px;
    margin-right: 22.4px;
    color: var(--aaaaaa);
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background-color: var(--0c0c0c);
    border: 0.7px solid var(--f5efdb);
    padding: 11.2px 13.3px;
}
.email-box {
    margin-bottom: -45px;
}
.email-section {
    margin-bottom: 55.3px;
}
.reservation-box,
.email-box {
    text-align: center;
    margin: 0 auto;
    width: 964.8px;
    height: 326.2px;
    display: flex;
    padding: 33.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.7px solid rgba(220, 202, 135, 0.20);
    background: var(--0c0c0c);
    box-shadow: 15.4px 21px 66.5px 0.7px rgba(0, 0, 0, 0.70);
    gap: 44.8px;
    font-family: 'Cormorant Upright', serif;
    margin-bottom: 108.5px;
}
.reservation-info-box__subtitle,
.email-info-box__subtitle {
    color: var(--fff);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
    margin: 0;
}
.email-info-box__title {
    color: #DCCA87;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 44.8px;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
    margin: 0;
}
.email-info-box__svg {
    margin: 5.6px 0;
    padding: 0;
}
.email-info-box__text {
    color: var(--fff);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 0;
    margin-top: 24px;
}
.email-input-box__input {
    width: 557.2px;
    height: 42px;
    margin-right: 22.4px;
    color: var(--aaaaaa);
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background-color: var(--0c0c0c);
    border: 0.7px solid var(--f5efdb);
    padding: 11.2px 13.3px;
}
.footer__inscriptions-box__list {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-box {
    margin-bottom: -45px;
}
.email-section {
    margin-bottom: 55.3px;
}
.email-inscriptions {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 504.7px;
    color: #FFF;
    font-family: 'Cormorant Upright', serif;
    text-align: right;
}
.inscriptions-box__text {
    color: var(--f5efdb);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
}
.inscriptions-box__item__text {
    color: var(--aaaaaa);
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: uppercase;
}
.inscriptions-box__svg {
    width: 42.7px;
}
.email-input-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.reservation__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.information-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.restaurant-information-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.reservation__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.social-media-box__icons-item:hover {
    fill: var(--dcca87);
}
.box-login__link:hover {
    color: var(--dcca87);
}
.footer-contact-box__link:hover {
    color: var(--dcca87);
}
.footer-information-box__address-content:hover {
    color: var(--dcca87);
}