.body {
    background-color: #0C0B08;
    background-image: url("../images/svg/line_left.svg"), url("../images/svg/line_right.svg");
    background-size: 1125.5335px 5133.1px, 1125.5335px 5133.1px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 777px left 0px, top 777px right 0px;
    height: 5911.5px;
    margin: 0;
    padding: 0;
}