.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 599.2px;
}
.grill-box {
    &__text {  
        display: flex;
        flex-direction: column;
        gap: 22.4px;
        padding-top: 28px;
    }
}
.text {
    &__date-authored {}
    &__article-title {}
    &__article-text {}
    &__article-link {}
}
.date-authored {
    &__text {}
}
