.chapter1{
    background-image: url(../image/img/chapter1/bg.jpg);
    background-size: cover;
}
.home-box{
    color: $fff;
    height: 475.3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16.8px;
    font-family: 'Cormorant Upright', serif;
    &__title{
        color: $DCCA87;
        font-size: 63px;
        font-weight: 700;
        line-height: 81.9px;
        letter-spacing: 2.52px;
        text-transform: capitalize;
    }
    &__list{
        display: flex;
        align-items: center;
        &__link{
            color: var(--FFFFFF);
            font-size: 16.1px;
            font-style: normal;
            font-weight: 700;
            line-height: 20.93px;
            letter-spacing: 0.644px;
            text-transform: capitalize;
        }
        &__link:hover{
            color: var(--DCCA87);
            text-shadow: 0 0 20px #DCCA87;
        }
    }
}
.home-box__list__link:hover{
    color: var(--DCCA87);
    text-shadow: 0 0 20px #DCCA87;
}