.body {
  background-color: #0c0c0c;
  color: #fff;
}

.container {
  width: 1200px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, li, menu, p {
  margin: 0;
  padding: 0;
}

.header {
  padding: 22.4px 84px;
  margin-bottom: 33.6px;
  color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__box-login {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__box-login__link {
  font-family: "Open Sans", sans-serif;
  font-size: 11.2px;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: 0.56px;
  text-transform: capitalize;
}
.header__box-login__link:hover {
  color: #DCCA87;
}
.header-menu__list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header-menu__link {
  font-family: "Open Sans", sans-serif;
  font-size: 11.2px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.448px;
}
.header-menu__link:hover {
  color: #DCCA87;
}

.box-logo__link {
  width: 139.3px;
  height: 39.9px;
}

.chapter1 {
  background-image: url(../image/img/chapter1/bg.jpg);
  background-size: cover;
}

.home-box {
  color: #fff;
  height: 475.3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16.8px;
  font-family: "Cormorant Upright", serif;
}
.home-box__title {
  color: #DCCA87;
  font-size: 63px;
  font-weight: 700;
  line-height: 81.9px;
  letter-spacing: 2.52px;
  text-transform: capitalize;
}
.home-box__list {
  display: flex;
  align-items: center;
}
.home-box__list__link {
  color: var(--FFFFFF);
  font-size: 16.1px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.93px;
  letter-spacing: 0.644px;
  text-transform: capitalize;
}
.home-box__list__link:hover {
  color: var(--DCCA87);
  text-shadow: 0 0 20px #DCCA87;
}

.home-box__list__link:hover {
  color: var(--DCCA87);
  text-shadow: 0 0 20px #DCCA87;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 599.2px;
}

.grill-box__tex {
  display: flex;
  flex-direction: column;
  gap: 22.4px;
  padding-top: 28px;
}
.grill-box__date-authored {
  display: flex;
  justify-content: space-between;
  color: #FAFAFA;
  font-family: "Open Sans", sans-serif;
  font-size: 11.2px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.448px;
}
.grill-box__article-title {
  color: #DCCA87;
  font-family: Cormorant Upright;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
  letter-spacing: 1.28px;
  text-transform: capitalize;
}