.body{
    background-color: #0C0B08;
    background-image: url(../image/svg/line_left.svg), url(../image/svg/line_right.svg);
    background-size: 1607.905px 10983px, 1607.905px 10983px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 1111px left 0px, top 1111px right 0px;
    height: 12093px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, li, menu{
    margin: 0;
    padding: 0;
}
:root{
    --FFFFFF: #FFF;
    --DCCA87: #DCCA87;
    --FAFAFA: #FAFAFA;
    --AAAAAA: #AAA;
}
/* header BEM */
.header{
    padding: 22.4px 84px;
    margin-bottom: 33.6px;
    color: var(--FFFFFF);
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-logo__link__img{
    width: 139.3px;
    height: 39.9px;
}
.header-menu__list{
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.header__box-login{
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu__link{
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.box-logo__link{
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.56px;
    text-transform: capitalize;
}
/* header BEM */
/* chapter1 */
.chapter1{
    margin: 0 auto;
    margin-bottom: 102.9px;
}
.restaurant-home-box-1{
    display: flex;
    justify-content: center;
    width: 1207px;
}
.information{
    display: flex;
    justify-content: space-around;
}
.hashtag{
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    gap: 40px;
    height: 28px;
    margin-top: 184.8px;
}
.hashtag-elements{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12.6px;
    font-weight: 400;
    line-height: 22.05px;
    letter-spacing: 0.504px;
}
.hastag-text{
    margin: 0;
}
.content{
    margin-top: 72.45px;
    margin-right: 126px;
    margin-left: 70px;
}
.restaurant-home-box-1-text-1{
    color: #FFF;
    font-family: 'Cormorant Upright', serif;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
    margin: 0;
}
.title{
    color:#DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-size: 63px;
    font-weight: 700;
    line-height: 81.9px;
    letter-spacing: 2.73px;
    text-transform: capitalize;
    width: 320px;
    margin: 0;
}
.restaurant-home-box-1-svg{
    margin: 5.6px 0;
}
.restaurant-home-box-1-text-2{
    color: #AAA;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    width: 318.5px;
    margin: 22.4px 0;
}
.restaurant-home-link{
    color: #0C0B08;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19,6px;
    letter-spacing: 0.448px;
    background-color: #DCCA87;
    padding: 5.6px 22.4px;
}
.content-img{
    box-shadow: 86.8px -87.5px 0px -70px #DCCA87, -86.8px 87.5px 0px -70px #DCCA87;
    width: 433.3px;
}
.restaurant-home-box-2{
    display: flex;
    justify-content: end;
    align-items: end;
}
.decoration-list-1{
    display: flex;
    align-items: center;
    gap: 5.6px;
    margin-right: 504.7px;
}
.decoration-list-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.decoration-list-1-elements{
    color: #F5EFDB;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
}
.decoration-list-2-elements-text{
    color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: uppercase;
}
/* chapter1 */
/* chapter2 */
.chapter2{
    background-image: url(../image/img/chapter2/bg-image.jpg);
    background-position: cover;
    height: 671,3px;
    margin-bottom: 109.9px;
}
.Restaurant-history{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 84px;
    padding-bottom: 95.2px;
}
.chapter2-subtitle{
    color: #DCCA87;
    font-family: 'Cormorant Upright', serif;
    font-size: 44.8px;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
    padding-bottom: 5.6px;
    margin: 0;
}
.chapter2-text{
    color: #AAA;
    font-family: 'Open Sans', sans-serif;
    width: 366.1px;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    padding: 22.4px 0;
    margin: 0;
}
.chapter2-link{
    color:#0C0C0C;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    padding: 5.6px 22.4px;
    background-color: #DCCA87;
}
.Restaurant-history-list-1{
    text-align: right;
}
.knife-img{
    margin: 0 67.2px 0 51.8px;
    width: 58.8px;
    height: 492.1px;
    flex-shrink: 0;
}
/* chapter2 */
/* chapter3 */
.reservation{
    margin: 0 auto;
    width: 964.8px;
    height: 326.2px;
    display: flex;
    padding: 33.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.7px solid rgba(220, 202, 135, 0.20);
    background: #0C0C0C;
    box-shadow: 15.4px 21px 66.5px 0.7px rgba(0, 0, 0, 0.70);
    gap: 44.8px;
}
.reservation-info-list{
    text-align: center;
    gap: 5.6px;
    margin: 48px 0 64px 0;
}
.reservation-info-list{
    margin: 0;
}
.reservation-info-text{
    color: #FFF;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright', serif;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
    margin: 0;
}
.reservation-info-title{
    color: #DCCA87;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright', serif;
    font-size: 44.8px;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
    margin: 0;
}
.reservation-select-list{
    display: flex;
    align-items: center;
    gap: 22.4px;
    margin: 0;
}
.select{
    width: 288.4px;
    height: 42px;
    color: #AAA;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background: #0C0C0C;
    text-align: left;
    border: 0.7px solid #F5EFDB;
}
.reservation-link{
    color: #0C0C0C;
    font-family: 'Cormorant Upright', serif;
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    padding: 5.6px 22.4px;
    border: 0.7px solid #DCCA87;
    background:#DCCA87;
}
/* chapter3 */
/* Olexandra */
.menubox {
    background-image: url("../image/img/chapter4/glass.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.menubox_links-item {
    color:var(--FFFFFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    letter-spacing: 1.92px;
    text-transform: capitalize;
    text-decoration: none;
}

.menubox_links-item:hover{
    text-decoration-line: underline;
}

.menubox_links {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 293px;
    padding-bottom: 262px;
}

.menubox-img {
    padding-top: 15px;
}

/* Olexandra */
/*menu-special style start*/
.menu-special {
    margin: 0 auto;
    height: 891.8px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-special__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44.8px; 
    margin: 0 auto;
}
.menu-special__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6px;
}
.menu-special__title-top {
    color: var(--FFFFFF, #FFF); 
    font-family: Cormorant Upright;
    font-size: 16.1px; 
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px; 
    letter-spacing: 0.644px; 
    text-transform: capitalize;
}
.menu-special__svg-image {
    fill: var(--DCCA87, #DCCA87);
}
.menu-special__title {
    color: var(--DCCA87, #DCCA87);
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 44.8px; 
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px; 
    letter-spacing: 1.792px;
    text-transform: capitalize;
}
.menu-special__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22.4px;
}
.menu-special__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33.6px;
}
.menu-special__title-column {
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 31.5px; 
    font-style: normal;
    font-weight: 600;
    line-height: 40.95px;
    letter-spacing: 1.26px; 
    text-transform: capitalize;
}
.menu-special__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px; 
}
.menu-special__product-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.6px;
}
.menu-special__product-information {
    display: flex;
    align-items: center;
    gap: 22.4px; 
}
.menu-special__product-name {
    width: 192px;
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px; 
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px; 
    letter-spacing: 0.644px; 
    text-transform: capitalize;
}
.menu-special__product-line {
    width: 83.3px; 
    height: 0.7px; 
    background: var(--FAFAFA, #FAFAFA);
}
.menu-special__product-price {
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px; 
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px; 
    letter-spacing: 0.644px; 
    text-transform: capitalize;
}
.menu-special__product-characteristics {
    color: var(--AAAAAA, #AAA);
    text-align: center;
    font-family: Open Sans;
    font-size: 11.2px; 
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; 
    letter-spacing: 0.448px; 
}
.menu-special__main-image {
    width: 310px; 
    height: 461.3px; 
    flex-shrink: 0;
    background: url(../image/img/chapter5/soft_shell.jpg), no-repeat;
    background-size: contain;
}
.menu-special__right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33.6px;
}
.menu-special__button {
    display: flex;
    box-sizing: border-box;
    padding: 5.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--DCCA87, #DCCA87);
    color: var(--0C0C0C, #0C0C0C);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.menu-special__button:hover{
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
/*menu-special style end*/
/* 7 8 секція Олександри початок*/

/*7 8 секція Олександри кінець */
/* restaurant-video start */
.restaurant-video {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restaurant-video__content-box {
    padding: 0;
}
.restaurant-video__video {
    width: 1344px;
    height: 534.1px;
    flex-shrink: 0;
}
/* restaurant-video end */
