.body{
    background-color: #0C0B08;
    height: 12093px;
    margin: 0;
    padding: 0;
}
.background_line {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../image/svg/line_left.svg), url(../image/svg/line_right.svg);
    background-size: 1607.905px 10983px, 1607.905px 10983px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 1111px left 0px, top 1111px right 0px;
}