.body {
    background-color: #0C0B08;
    background-image: url("../image/svg/line_left.svg"), url("../image/svg/line_right.svg");
    background-size: 1125.5335px 7688.1px, 1125.5335px 7688.1px;
    background-repeat: no-repeat, no-repeat;
    background-position: top 777px left 0px, top 777px right 0px;
    height: 8465.1px;
    margin: 0;
    padding: 0;
}
:root {
    --FFFFFF: #FFF;
    --DCCA87: #DCCA87;
    --FAFAFA: #FAFAFA;
    --AAAAAA: #AAA;
    --0C0C0C: #0c0c0c;
    --F5EFDB: #F5EFDB;
}
.container {
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, li, menu, p {
    margin: 0;
    padding: 0;
}
.header {
    padding: 22.4px 84px;
    margin-bottom: 33.6px;
    color: var(--FFFFFF);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-logo__link__img {
    width: 139.3px;
    height: 39.9px;
}
.header-menu__list {
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.header__box-login {
    display: flex;
    align-items: center;
    gap: 35px;
}
.menu__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.box-logo__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.56px;
    text-transform: capitalize;
}
.restauran-home-box-main {
    display: flex;
    align-items: center;
    gap: 110.6px;
    color: #FFF;
    font-family: 'Cormorant Upright', serif;
}
.hashtag-box {
    transform: rotate(-90deg);
    display: flex;
}
.hashtag-box__list {
    display: flex;
    align-items: center;
    gap: 28px;
}
.information-box {
    margin-top: 89.25px;
    width: 318.5px;
    color: var(--FFFFFF);
}
.information-box__subtitle {
    color: var(--FFFFFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
    margin: 0;
}
.information-box__svg {
    margin: 5.6px 0;
}
.information-box__title {
    color: var(--DCCA87);
    font-size: 63px;
    font-weight: 700;
    line-height: 81.9px;
    letter-spacing: 2.52px;
    text-transform: capitalize;
}
.information-box__text {
    color: var(--AAAAAA);
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 22.4px 0;
}
.information-box__link {
    background-color: var(--DCCA87);
    padding: 5.6px 22.4px;
    color: var(--0C0C0C);
}
.image-box__image {
    width: 433.3px;
    box-shadow: 86.8px -87.5px 0px -70px #DCCA87, -86.8px 87.5px 0px -70px #DCCA87;
}
.inscriptions-box {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 504.7px;
    color: #FFF;
    font-family: 'Cormorant Upright', serif;
}
.inscriptions-box__text {
    color: var(--F5EFDB);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
}
.inscriptions-box__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inscriptions-box__item__text {
    color: var(--DCCA87);
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: uppercase;
}
.inscriptions-box__svg {
    width: 42.7px;
}
.chapter2 {
    background-image: url(../image/img/chapter2/bg-image.jpg);
    background-position: cover;
}
.restaurant-information-box {
    font-family: 'Cormorant Upright', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51.8px;
    margin: 84px 0;
    background-image: url(../image/svg/G.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.about-restaurant-box {
    text-align: right;
}
.restaurant-information-box__title {
    color: var(--DCCA87);
    font-size: 44.8px;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
    padding-bottom: 5.6px;
    margin: 0;
}
.restaurant-information-box__text {
    color: var(--AAAAAA);
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 0;
    padding: 22.4px 0;
}
.restaurant-information-box__link {
    color: var(--0C0C0C);
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    background-color: var(--DCCA87);
    padding: 8px 32px;
}
.restaurant-information-box__decoradion-image {
    width: 58.8px;
    margin: 84px;
}
.reservation-box,
.email-box {
    text-align: center;
    margin: 0 auto;
    width: 964.8px;
    height: 326.2px;
    display: flex;
    padding: 33.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.7px solid rgba(220, 202, 135, 0.20);
    background: var(--0C0C0C);
    box-shadow: 15.4px 21px 66.5px 0.7px rgba(0, 0, 0, 0.70);
    gap: 44.8px;
    font-family: 'Cormorant Upright', serif;
    margin-bottom: 108.5px;
}
.reservation-info-box {
    text-align: center;
    gap: 5.6px;
}
.reservation-info-box__subtitle,
.email-info-box__subtitle {
    color: var(--FFFFFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16.1px;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
    margin: 0;
}
.reservation-info-box__title,
.email-info-box__title {
    color: #DCCA87;
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 44.8px;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
    margin: 0;
}
.reservation-select-box__list {
    display: flex;
    align-items: center;
    gap: 22.4px;
    margin: 0;
}
.reservation-select-box__select {
    padding: 11.2px;
    width: 288.4px;
    height: 42px;
    color: var(--AAAAAA);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background: var(--0C0C0C);
    text-align: left;
    border: 0.7px solid #F5EFDB;
    cursor: pointer;
}
.reservation__link,
.email-input-box__link {
    color: var(--0C0C0C);
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    padding: 5.6px 22.4px;
    border: 0.7px solid #DCCA87;
    background: #DCCA87;
}
.email-info-box__svg {
    margin: 5.6px 0;
    padding: 0;
}
.email-info-box__text {
    color: var(--FFFFFF);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 0;
    margin-top: 24px;
}
.email-input-box__input {
    width: 557.2px;
    height: 42px;
    margin-right: 22.4px;
    color: var(--AAAAAA);
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background-color: var(--0C0C0C);
    border: 0.7px solid var(--F5EFDB);
    padding: 11.2px 13.3px;
}
.email-box {
    margin-bottom: -45px;
}
.email-section {
    margin-bottom: 55.3px;
}
.email-info-box__svg {
    margin: 5.6px 0;
    padding: 0;
}
.email-info-box__text {
    color: var(--FFFFFF);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    margin: 0;
    margin-top: 24px;
}
.email-input-box__input {
    width: 557.2px;
    height: 42px;
    margin-right: 22.4px;
    color: var(--AAAAAA);
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
    background-color: var(--0C0C0C);
    border: 0.7px solid var(--F5EFDB);
    padding: 11.2px 13.3px;
}
.footer__inscriptions-box__list {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-box {
    margin-bottom: -45px;
}
.email-section {
    margin-bottom: 55.3px;
}
.email-inscriptions {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 504.7px;
    color: #FFF;
    font-family: 'Cormorant Upright', serif;
    text-align: right;
}
.inscriptions-box__text {
    color: var(--F5EFDB);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 11.2px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: capitalize;
}
.inscriptions-box__item__text {
    color: var(--DCCA87);
    font-size: 11.2px;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
    text-transform: uppercase;
}
.inscriptions-box__svg {
    width: 42.7px;
}
.menubox {
    background-image: url("../image/svg/logo.svg"), url("../image/img/chapter4/glass.jpg");
    background-size: 102px 102px ,  cover;
    background-repeat: no-repeat;
    background-position: 80px 10px, center;
    height: 630px;
    padding-top: 182px;
    padding-bottom: 183px;
}
.menubox_links-item {
    color: var(--FFFFFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.92px;
    text-transform: capitalize;
    text-decoration: none;
}
.menubox_links-item:hover {
    text-decoration-line: underline;
}
.menubox_all {
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.menubox_links {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.menu-special {
    margin: 0 auto;
    height: 891.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-special__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44.8px;
    margin: 0 auto;
}
.menu-special__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6px;
}
.menu-special__title-top {
    color: var(--FFFFFF, #FFF);
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.menu-special__svg-image {
    fill: var(--DCCA87, #DCCA87);
}
.menu-special__title {
    color: var(--DCCA87, #DCCA87);
    text-align: center;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.792px;
    text-transform: capitalize;
}
.menu-special__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22.4px;
}
.menu-special__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33.6px;
}
.menu-special__title-column {
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 31.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 40.95px;
    letter-spacing: 1.26px;
    text-transform: capitalize;
}
.menu-special__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}
.menu-special__product-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.6px;
}
.menu-special__product-information {
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.menu-special__product-name {
    width: 192px;
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.menu-special__product-line {
    width: 83.3px;
    height: 0.7px;
    background: var(--FAFAFA, #FAFAFA);
}
.menu-special__product-price {
    color: var(--FFFFFF, #FFF);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.menu-special__product-characteristics {
    color: var(--AAAAAA, #AAA);
    text-align: center;
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.menu-special__main-image {
    width: 310px;
    height: 461.3px;
    flex-shrink: 0;
    background: url(../image/img/chapter5/soft_shell.jpg), no-repeat;
    background-size: contain;
}
.menu-special__right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33.6px;
}
.menu-special__button {
    display: flex;
    box-sizing: border-box;
    padding: 5.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--DCCA87, #DCCA87);
    color: var(--0C0C0C, #0C0C0C);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.menu-special__button:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.chef {
    background-image: url("../image/svg/logo.svg"), url("../image/img/chapter6/bg-image.jpg");
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: 1000px 659px, center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.chef_box {
    display: inline-flex;
    align-items: center;
    gap: 64px;
}
.chef_box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;

}
.chef_box-right-title {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}
.chef_box-right-titletwo {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 1.34px;
    text-transform: capitalize;
}
.chef_box-right-text {
    color: var(--AAAAAA, #AAA);
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.44px;
    width: 570px;
}
.chef_box-right-sign {
    width: 164px;
    height: 58px;
}
.chef_box-right-name {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}
.chef_box-right-position {
    color: var(--AAAAAA, #AAA);
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.64px;
}
.chef_box-img img {
    width: 443px;
}
.chef_box-right-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.chef_box-right-mid {
    display: flex;
    gap: 6px;
}
.chef_box-right-name-and-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.chef_box-right-svg {
    width: 33px;
    height: 28px;
    flex-shrink: 0;
}
.customers {
    background-image: url("../image/svg/logo.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 1000px -72px;
    padding-top: 106px;
    padding-bottom: 119px;
}
.customers_box-title_item-one {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.customers_box-title_item-two {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.customers_box-text-one {
    color: var(--AAAAAA, #AAA);
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.64px;
}
.customers_box-comments-title {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28%;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}
.customers_box-text-two {
    color: var(--F5EFDB, #F5EFDB);
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.32px;
}
.customers_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.customers_box-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.customers_box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.customers_box-comments-first-one-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.customers_box-comments-first {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}
.customers_box-comments-second {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}
.customers_box-comments-first-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-first-one-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
}
.customers_box-comments-first-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.customers_box-comments-second-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.customers_box-comments-second-one-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.restaurant-video {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.restaurant-video__content-box {
    padding: 0;
}
.restaurant-video__video {
    width: 1344px;
    height: 534.1px;
    flex-shrink: 0;
}
.awards {
    background-image: url("../image/img/chapter6/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 128px;
    padding-bottom: 140px;
}
.awards_box {
    display: flex;
    align-items: center;
    gap: 111px;
}
.awards_box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}
.awards_box-top-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.awards_box-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.awards_box-top-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.awards_box-top-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.awards_box-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}
.awards_box-bottom-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.awards_box-bottom-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.awards_box-top-one-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.awards_box-top-title-maintext {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.awards_box-top-title-text {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.awards_box-title {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: 'Cormorant Upright';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    width: 190px;
}
.awards_box-text {
    color: var(--AAAAAA, #AAA);
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
    width: 190px;
}
.awards_box-image {
    width: 389.2px;
    height: 483.7px;
    display: flex;
    justify-content: start;
    align-items: end;
    background-image: url("../image/img/chapter9/steak_tomato.jpg");
    background-repeat: no-repeat;
    background-size: 338.1px 483.7px;
    background-position: right;
}
.g-svg {
    fill: var(--FAFAFA, #FAFAFA);
    width: 252px;
    height: 265px;
}
.restaurant-blog {
    height: 971.6px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url(../image/svg/logo.svg);
    background-repeat: no-repeat;
    background-size: 102.2px 102.2px;
    background-position: right 64px bottom 86.1px;
}
.restaurant-blog__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44.8px;
}
.restaurant-blog__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5.6px;
}
.restaurant-blog__title-top {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.93px;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.restaurant-blog__svg-image {
    fill: var(--DCCA87, #DCCA87);
}
.restaurant-blog__title {
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
}
.restaurant-blog__main-content {
    display: flex;
    align-items: flex-start;
    gap: 22.4px;
}
.restaurant-blog__article-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16.8px;
}
.restaurant-blog__article-img {
    width: 288.4px;
    height: 301px;
    flex-shrink: 0;
}
.restaurant-blog__article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22.4px;
}
.restaurant-blog__top-box-text {
    width: 288.4px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.restaurant-blog__date {
    color: var(--FAFAFA, #FAFAFA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.restaurant-blog__author {
    color: var(--FAFAFA, #FAFAFA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;

}
.restaurant-blog__link-title {
    width: 288.4px;
    color: var(--DCCA87, #DCCA87);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 22.4px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.12px;
    letter-spacing: 0.896px;
    text-transform: capitalize;
    cursor: pointer;
}
.restaurant-blog__link-title:hover {
    text-decoration-line: underline;
}
.restaurant-blog__article-paragraf {
    width: 288.4px;
    color: var(--AAAAAA, #AAA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.restaurant-blog__article-link {
    color: var(--DCCA87, #DCCA87);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.restaurant-blog__article-link:hover {
    font-size: 12px;
}
.restaurant-blog__button {
    display: flex;
    padding: 5.6px 22.4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--DCCA87, #DCCA87);
    color: var(--0C0C0C, #0C0C0C);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.restaurant-blog__button:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.photo-gallery {
    margin: 0 auto;
    padding: 0;
    height: 572.6px;
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    z-index: 1;
}
.photo-gallery::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../image/svg/logo.svg"), url("../image/img/slider/BG-slider_sq.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 104.3px 104.3px, 100% 493.5px;
    background-position: 74.2px 452.2px, top;
    opacity: 0.5;
    z-index: 2;
}
.photo-gallery__content-box {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 44.8px;
    height: 493.5px;
    margin: 0;
    z-index: 3;
}
.photo-gallery__text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16.8px;
}
.photo-gallery__title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5.6px;
}
.photo-gallery__title-top {
    color: var(--FFFFFF, #FFF);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 16.1px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.3px;
    letter-spacing: 0.644px;
    text-transform: capitalize;
}
.photo-gallery__svg-image {
    fill: var(--DCCA87, #DCCA87);
}
.photo-gallery__title {
    color: var(--DCCA87, #DCCA87);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: Cormorant Upright;
    font-size: 44.8px;
    font-style: normal;
    font-weight: 600;
    line-height: 58.24px;
    letter-spacing: 1.344px;
    text-transform: capitalize;
}
.photo-gallery__paragraf {
    width: 343.7px;
    color: var(--AAAAAA, #AAA);
    font-family: Open Sans;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.photo-gallery__button {
    display: flex;
    padding: 5.6px 22.4px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 0.7px solid var(--DCCA87, #DCCA87);
    background: var(--DCCA87, #DCCA87);
    color: var(--0C0C0C, #0C0C0C);
    font-family: Cormorant Upright;
    font-size: 11.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.6px;
    letter-spacing: 0.448px;
}
.photo-gallery__button:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.photo-gallery__overflow {
    width: 738.5px;
    height: 330px;
    overflow: auto;
    z-index: 3;
}
.photo-gallery__overflow::-webkit-scrollbar {
    width: 24px;
    height: 10px;
    background-color: #adbbca;
}
.photo-gallery__overflow::-webkit-scrollbar-thumb {
    background-color: #68726f;
    border-radius: 9px;
}
.photo-gallery__overflow::-webkit-scrollbar-thumb:hover {
    background-color: #DCCA87;
}
.photo-gallery__box-imeges {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 22.4px;
}
.photo-gallery__img {
    width: 210.7px;
    height: 312.9px;
    border: 0.7px solid var(--DCCA87, #DCCA87);
    z-index: auto;
}
.photo-gallery__link-img {
    width: 210.7px;
    height: 312.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.photo-gallery__link-img:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1.4px solid rgba(220, 202, 135, 0.20);
    background-image: url("../image/svg/instagram_logo.svg"), linear-gradient(208deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
    background-size: 36.4px 36.4px, contain;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    z-index: 2;
}
.footer-box {
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #FFF;
    text-align: center;
    padding-bottom: 100.8px;
}
.footer-information-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-contact-box {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}
.footer-contact-box__subtitle {
    color: var(--F5EFDB);
    font-family: 'Cormorant Upright', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.86px;
    text-transform: capitalize;
    margin-bottom: 16.8px;
}
.footer-information-box__address-content {
    color: var(--AAAAAA);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
    margin: 0;
    cursor: pointer;
}
.footer-contact-box__link {
    color: var(--AAAAAA);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
}
.footer-contact-box__link:first-child {
    margin: 5px;
}
.footer-box-logo__link__img {
    margin-bottom: 22px;
    width: 202.3px;
}
.social-media-box {
    width: 306px;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}
.social-media-box__text {
    color: var(--FFFFFF);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.45px;
    margin: 0;
}
.social-media-box__svg {
    margin: 11px 0;
}
.social-media-box__icons-item {
    fill: #FFF;
}
.social-media-box__icons-list {
    display: flex;
    gap: 11px;
}
.working-hours-box {
    font-family: 'Cormorant Upright', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.working-hours-box__title {
    color: var(--F5EFDB);
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    margin-bottom: 17px;
}
.working-hours-box__text {
    width: 121px;
    margin: 0;
}
.working-hours-box__text:first-child {
    margin-bottom: 5px;
}
.footer-date-box {
    display: flex;
    flex-direction: column;

}
.footer-date-box__text {
    margin: 0;
    color: var(--AAAAAA);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.45px;
    padding-left: 53px;
}
.footer {
    background-image: url(../image/img/footer/bg-image.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 585.9px;
}
.email-input-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.reservation__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.information-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.restaurant-information-box__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.reservation__link:hover {
    box-shadow: 0px 0px 20px 7px #DCCA87;
}
.social-media-box__icons-item:hover {
    fill: var(--DCCA87);
}
.menu__link:hover {
    color: var(--DCCA87);
}
.box-login__link:hover {
    color: var(--DCCA87);
}
.footer-contact-box__link:hover {
    color: var(--DCCA87);
}
.footer-information-box__address-content:hover {
    color: var(--DCCA87);
}